@page
@model vending_machine.Pages_Products.IndexModel
@{
    ViewData["Title"] = "Vending Machine";
}

<div id="vending-machine">
    <div id="loader">
        <h1>Loading...</h1>
    </div>

    <div id="products" class="col-md-8">
        <h2 id="products-header">SELECT HERE</h2>
        @foreach (var item in Model.Product) {
            <div class="product" data-id="@item.Id">
                <div class="container">
                    <div class="product-name col-xs-12">@item.Name</div>
                    <span class="product-price col-xs-6">$@item.Price.ToString("0.00")</span>
                    <span class="product-quantity col-xs-6">Qty: @item.Quantity</span>
                </div>
            </div>
        }
    </div>
    <div id="payment-ui" class="col-md-4">
        <h2 id="payment-header">PAY HERE</h2>
        <div class="payment-button" data-value="0.25">$0.25</div>
        <div class="payment-button" data-value="1">$1.00</div>
        <div class="payment-button" data-value="5">$5.00</div>
    </div>
</div>
